@import 'var';

.btns_list {
  display        : flex;
  justify-content: start;
  align-items    : center;

  .btns_item {
    list-style-type: none;
    margin-right   : 1rem;
  }

  .btns_heart {
    margin-left: auto;
    align-self : center;

    .heart {
      font-size: 1.5625rem /* 25/16 */;
      color    : #fff;
      &-red{
        color: red;
      }
    }
  }
}



.btns_link {
  position       : relative;
  transform      : translate(-50%, -50%);
  padding        : 0.56rem 1.88rem;
  text-align     : center;
  line-height    : 3.75rem /* 60/16 */;
  font-weight    : 700;
  color          : #fff;
  font-size      : 1.5rem /* 24/16 */;
  text-transform : uppercase;
  text-decoration: none;
  box-sizing     : border-box;
  background     : linear-gradient(90deg, #03a9f4, #F441A5, #FFEB3B, #03A9F4);
  background-size: 400%;
  border-radius  : 1.875rem /* 30/16 */;
  z-index        : 1;

  &:hover {
    animation: animate 8s linear infinite;
    color    : #fff;
  }

  &::before {
    content        : '';
    position       : absolute;
    top            : -.3125rem /* 5/16 */;
    left           : -.3125rem /* 5/16 */;
    right          : -.3125rem /* 5/16 */;
    bottom         : -.3125rem /* 5/16 */;
    z-index        : -1;
    background     : linear-gradient(90deg, #03a9f4, #F441A5, #FFEB3B, #03A9F4);
    background-size: 400%;
    border-radius  : 2.5rem /* 40/16 */;
    opacity        : 0;
    transition     : 0.5s;

  }

  &:hover::before {
    filter   : blur(1.25rem /* 20/16 */);
    opacity  : 1;
    animation: animate 8s linear infinite;
  }
}

@keyframes animate {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}